body {
    font-family: 'Albert Sans', sans-serif;
}

/* HEADER */
header {
    color: #111679;
}

.top-header {
    padding: 4.8px;
    margin: 4.8px;
}

.top-header a {
    text-decoration: none;
    font-size: 11.2px;
    color: #111679;
    padding: 6.4px;
}

.middle-header table {
    width: 100%;
}

.middle-header .icon-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #111679;
}

#menu-toggle {
    display: none;
}

.middle-header .logo {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    margin-left: 650px;
}

.login-btn {
    background-color: #001489;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12.8px;
    padding: 8px 12px;
    gap: 5px;
}

.line, .line1 {
    border-bottom: 1px solid #e0e0e0;
}

.lower-header {
    padding: 2px;
}

.nav-table {
    margin-left: 500px;
}

.nav-table a {
    font-size: 11.2px;
    text-decoration: none;
    color: #111679;
    font-weight: bold;
}

/* ARTICLE */
.table-article {
    width: 60%;
    margin-left: 220px;
    
}

.titles {
    color: #21233e;
}

h1 {
    font-size: 48px;
}

.text {
    font-size: 14.4px;
    line-height: 1.6;
}

#date {
    color: #707488;
    font-size: 12.8px;
    padding: 30px 0px 20px 0px;
}

#caption {
    color: #707488;
    font-size: 13.6px;
    padding: 0px 0px 50px 0px;
}

.match {
    width: 100%;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.score-row {
    text-align: center;
    height: 80px;
}

.team-logo {
    width: 30%;
}

.team-img {
    height: 50px;
}

.team-name {
    font-weight: bold;
    font-size: 16px;
}

.team-score {
    font-size: 48px;
    font-weight: bold;
    color: #1a73e8;
    width: 50px;
}

.final-text {
    color: red;
    font-size: 16px;
    width: 40px;
}

.info-row td {
    background-color: #1a73e8;
    color: white;
    padding: 4px;
}

.info-table {
    width: 100%;
    font-size: 14.4px;
}

.stadium {
    text-align: left;
}

.competition {
    text-align: right;
}

.video {
    width: 100%;
    margin: 30px 0;
}

/* FORM */
.second-sec {
    margin-top: 20px;
    margin-left: 220px;
}

.newsletter {
    background-color: #1a73e8;
    width: 35%;
    color: white;
    padding: 20px 0px 20px 20px;
    margin-left: 150px;
    margin-bottom: 60px;
}

.icon-cell {
    width: 20px;
    font-size: 16px;
}

.text-cell {
    font-size: 16px;
    font-weight: bold;
}

.logo-cell {
    width: 60px;
}

.champions-logo {
    height: 40px;
}

.title-text {
    font-size: 17.6px;
    font-weight: bold;
    text-align: left;
    width: 70%;
}

.email-input {
    height: 32px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 11.2px;
    background-color: #4182e7;
    margin-top: 10px;
    padding-right: 100px;
    margin: 0px;
}

.subscribe-button {
    border: none;
    background-color: #0a0a60;
    color: white;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    font-size: 11.2px;
    height: 35.2px;
    padding: 0px 10px;
    margin: 0;
}

.small-button {
    border: 2px solid #0b0b66;
    background: white;
    color: #0b0b66;
    border-radius: 5px;
    font-weight: bold;
    height: 48px;
    margin-bottom: 30px;
}

.comments-button {
    background: #1d66dd;
    color: white;
    border: none;
    border-radius: 5px;
    width: 58%;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 20px;
}

/* FOOTER */
.footer {
    font-size: 11.2px;
    color: #0b0b66;
    padding: 40px 20px 10px 20px;
}

.footer-table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: #0b0b66;
    margin-top: 10px;
}

.footer-logo b {
    font-size: 19.2px;
    color: #0b0b66;
}

.footer-logo div {
    margin: 5px 0;
    color: #0b0b66;
}

.social-icons {
    margin-top: 10px;
}

.social-icons i {
    font-size: 19.2px;
    margin-right: 10px;
    cursor: pointer;
    color: #0b0b66;
}

.footer-column {
    padding-top: 10px;
    color: #0b0b66;
    margin: 4px 0;
    color: #3f3d3d;
    cursor: pointer;
}

.footer-titles {
    margin-bottom: 10px;
    font-size: 15px;
    color: #0b0b66;
}

.footer-links {
    padding-top: 30px;
}

.links-table div {
    margin: 5px 0;
    color: #0b0b66;
    font-weight: bold;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    font-size: 13px;
    color: #555;
    padding: 10px 0 0 0;
}

/* medias query mobile */
@media (max-width: 768px) {
    #menu-toggle {
        display: inline-block;
    }

    .nav-table {
        display: none;
    }
    .line1 {
        display: none;
    }
}
